@tailwind base;
@tailwind components;

.chain-card {
  @apply w-52 h-52 shadow-md rounded-md mx-auto flex transition ease-in-out delay-150 hover:scale-110 duration-300;
}

.center-text {
  @apply flex items-center justify-center
}

@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  @apply font-medium text-[#646cff];
}
a:hover {
  @apply text-[#535bf2];
}


.logo {
  max-height: 70%;
}

html {
  scroll-behavior: smooth;
}

.chain-container {
  width: 70%;
}

.w-90vw {
  max-width: 90vw;
}
